// Variables for dark mode colors
$background-color: #181818;
$text-color: #f0f0f0;

// Variables for card
$card-padding: 4rem;
$card-border-radius: 0.8rem;
$card-min-dimensions: 35rem;
$card-background-color: rgba(0, 0, 0, 0.4);
$card-z-index: 1;
$card-font-size: 2.4rem;

// Variables for weather icon
$weather-icon-width: 8rem;
$weather-icon-margin-bottom: 2rem;
$weather-card-height: 50%;